.welcome{
    margin: 80px auto;
    height: 600px;
    background-image: url('../../assets/travel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome a{
    background-color: cadetblue;
    border-radius: 12px;
    padding: 7px;
    margin: 5px auto;
    text-decoration: none;
    color: black;
}

.welcome a:hover{
    color: white;
    background-color: rgb(78, 109, 110);
}

.welcome h1{
    font-size: 250%;
}

.moving-arrow{
    border-top: 10px solid black;
    border-left: 10px solid transparent ;
    border-bottom: 10px solid transparent ;
    border-right: 10px solid transparent ;
    animation: moving-arrow .9s infinite;
}

@keyframes moving-arrow {
    0%{opacity: 0;}
    10%{opacity: 0.2;}
    20%{opacity: 0.4;}
    30%{opacity: 0.6;}
    40%{opacity: 0.8;}
    50%{opacity: 1;}
    60%{opacity: 0.8;}
    70%{opacity: 0.6;}
    80%{opacity: 0.4;}
    90%{opacity: 0.2;}
    100%{opacity: 0;}
}

.services{
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.services p{
    width: 300px;
}

.services div{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 20px 10px rgba(0,0,0,0.2);
    margin: 10px auto;
    border-radius: 20px;
}

.about{
    max-width: 100%;
    margin: 50px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 20px 20px 10px rgba(0,0,0,0.2);
    padding: 10px;

}

.about p{
    width: 600px;
}

video{
    max-width: 600px;
    border-radius: 20px;
    margin-left: 20px;
}

hr{
    margin: auto;
}

