<div class="container">
    <section class="welcome">
        <h1>Ready to conquer the world?</h1>
        <a href="#sections">explore more</a>
        <div class="moving-arrow"></div>
    </section>
    <hr width="50%">
    <h1 style="text-align: center;">Our Services :</h1>


    <section class="services" id="sections">
        <div>
            <img src="../../assets/flight.png" alt="" width="64" height="64">
            <h3>Flight tickets</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quis qui ullam exercitationem tempora veritatis voluptas. Recusandae tempora doloremque minus quod assumenda voluptatum error libero tenetur placeat qui. Quod, neque.</p>
        </div>
        <div>
            <img src="../../assets/accomodation.png" alt="" width="64" height="64">
            <h3>Accomodation</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quis qui ullam exercitationem tempora veritatis voluptas. Recusandae tempora doloremque minus quod assumenda voluptatum error libero tenetur placeat qui. Quod, neque.</p>
        </div>
        <div>
            <img src="../../assets/car.png" alt="" width="64" height="64">
            <h3>Car Rental</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quis qui ullam exercitationem tempora veritatis voluptas. Recusandae tempora doloremque minus quod assumenda voluptatum error libero tenetur placeat qui. Quod, neque.</p>
        </div>
        <div>
            <img src="../../assets/insurance.png" alt="" width="64" height="64">
            <h3>Travel Insurance</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quis qui ullam exercitationem tempora veritatis voluptas. Recusandae tempora doloremque minus quod assumenda voluptatum error libero tenetur placeat qui. Quod, neque.</p>
        </div>
        
    </section>
    <hr width="50%">
    <h1 style="text-align: center;">About us</h1>
    <section class="about">
        <p><b>We are </b> amet consectetur, adipisicing elit. Suscipit corrupti quam placeat fugiat vel neque quas, et error ea quis possimus, ab iusto accusantium, tempore quasi itaque? Culpa, iste natus.
            amet consectetur, adipisicing elit. Suscipit corrupti quam placeat fugiat vel neque quas, et error ea quis possimus, ab iusto accusantium, tempore quasi itaque? Culpa, iste natus.

        </p>
        <video poster="../../assets/poster.png">
            <source src="../../assets/ad.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
    </section>

















    
    
</div>
