@font-face {
    font-family: "Roboto";
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}

*{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

nav{
    background-color: cadetblue;
    margin: -16px -8px;
    position: fixed;
    width: 100%;

}


.nav-item{
    list-style: none;
    margin-right: 5em;
}

.nav-list{
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

.nav-item a{
    text-decoration: none;
    color: black;
}

.nav-item a:hover{
    color: white;
}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
}

