
nav{
    background-color: cadetblue;
    width: 100%;
    position: fixed;
    min-width: 800px;
    height: 80px;
    top: 0;
    

}



.nav-item{
    list-style: none;
    margin-right: 5em;
    
}

.nav-list{
    margin: 0;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

.nav-item a{
    text-decoration: none;
    color: black;
    transition: .5s;
}

.nav-item a:hover{
    color: white;
    border-bottom: 10px solid rgb(193, 228, 179);  
}

.nav-item a:visited{
    border-bottom: 10px solid rgb(193, 228, 179);  

}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
}

