.profile-card{
    margin: 100px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 800px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
    padding: 20px;
}


.profile-card input{
    border-radius: 12px;
    padding: 7px;
    width: 50%;
    margin: 7px auto;
}

.profile-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid black;
    background-image: url('../../assets/profile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#save-btn{
    width: 15%;
    background-color: rgb(28, 77, 238);
    color: white;
}