<form class="register-form" (ngSubmit)="registerUser(myform)" #myform="ngForm">
    <h2>Register</h2>
   
        <input ngModel name="fname" type="text" placeholder="First name" required>
        <input ngModel name="lname" type="text" placeholder="Last name" required>
        <input ngModel name="email" type="email" placeholder="Email" required>
        <input ngModel name="password" type="password" name="password" id="password" placeholder="Password" required>
        <input type="password" name="password" placeholder="Confirm Password" required>
        
        <input type="submit" name="something" value="Sign me in">
</form>